@model Sonnetly.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1>
            @Model.UserName.ToUpper()'s Sonnets
            <a href="@Url.Action("Create", "Bookmark")" class="btn btn-toolbar"><span class="glyphicon glyphicon-plus"></span></a>
        </h1>
    </div>
    <div class="panel-default">
        @foreach (var sonnet in ViewBag.sonnetList)
            {
            <div class="panel-heading">
                <span class="badge">@sonnet.NumClicks</span>   @sonnet.Title 
            </div>
            <div class="panel-body">
                <p>@sonnet.Created</p>
                <p>@sonnet.Desc</p>
                <a href="/Sonnet/@sonnet.NewUrl">@sonnet.NewUrl</a>
                <hr />
            </div>
        }
    </div>
</div>



