@model Sonnetly.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="title">
                    @Model.UserName.ToLower()'s &nbsp; Sonnets
                    <a href="@Url.Action("Create", "Bookmark")" class="btn btn-toolbar"><span class="glyphicon glyphicon-plus"></span> Add New</a>
                </h1>
            </div>
            <div class="panel-default panel-scroll">
                @foreach (var sonnet in ViewBag.sonnetList)
            {
                    <div class="panel-heading">
                        <h4>
                            <a href="/Sonnet/@sonnet.NewUrl">@sonnet.NewUrl</a>
                            <span class="badge">@sonnet.NumClicks</span>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <strong>@Html.ActionLink((string)sonnet.Title, "Detail", "Bookmark", new { id = @sonnet.Id }, null)</strong>
                        <p>@sonnet.Desc</p>
                        <sub>Created on @sonnet.Created.ToString("dd MMM yyyy")</sub>
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            @if (User.Identity.Name == Model.UserName)
            {
                <div class="panel-heading">
                    <h1 class="title">
                        @Model.UserName.ToLower()'s &nbsp; Favorite &nbsp; Sonnets
                    </h1>
                </div>
                <div class="panel-default panel-scroll">
                    @foreach (var fav in ViewBag.favsList)
                    {
                    <div class="panel-heading">
                        <h4>
                            <a href="/Sonnet/fav.Bookmark.NewUrl">@fav.Bookmark.NewUrl</a>
                            <span class="badge">@fav.Bookmark.NumClicks</span>
                        </h4>
                        @using (Html.BeginForm("Favorites", "Bookmark", new { id = @fav.Id, command = "Remove" }))
                        {
                        <input type="submit" class="btn btn-default" value="Remove from Favorites" command="Remove" />
                        }
                    </div>
                    }
                </div>
            }            
        </div>
    </div>
</div>
