@model Sonnetly.Models.Bookmarks


@{
    ViewBag.Title = "Delete";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1>
            Are you sure you want to delete this Sonnet?
        </h1>
        <p>This action cannot be undone!</p>
    </div>
    <div class="panel-default panel-scroll">

        <div class="panel-heading">
            <h3 class="title">
                <a href="/Sonnet/@Model.NewUrl">@Model.NewUrl</a>
            </h3>
            <strong>
                @Model.Title
            </strong> &nbsp;
            <sub>Created by @Model.Owner.UserName on @Model.Created.ToString("dd MMM yyyy")</sub>
        </div>
        <div class="panel-body">
            <p>@Model.Desc</p>
            <hr />
        </div>
        <div class="panel-footer">
            <strong>This Sonnet has been clicked <span class="badge">@Model.NumClicks</span> times: </strong>
            <ul>
                @foreach (var click in ViewBag.Clicks)
                {
                    <li>@click.Created</li>
                    <li>@click.UserName</li>
                }
            </ul>
        </div>
    </div>
</div>

<p>
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="@Url.Action("Index", "Bookmark")" class="btn btn-toolbar"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
</p>
