@model Sonnetly.Models.Bookmarks

@{
    ViewBag.Title = "Detail";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="title">
            <a href="/Sonnet/@Model.NewUrl">@Model.NewUrl</a>
            @if (ViewBag.IsOwner)
            {
                <a href="@Url.Action("Edit", "Bookmark", new { id = Model.Id })" class="btn btn-toolbar">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                </a>
                <a href="@Url.Action("Delete", "Bookmark")" class="btn btn-toolbar">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </a>
            }

        </h1>
    </div>
    <div class="panel-default panel-scroll">

        <div class="panel-heading">
            <strong>
                @Model.Title
            </strong> &nbsp;
            <sub>Created by @Model.Owner.UserName on @Model.Created.ToString("dd MMM yyyy")</sub>
        </div>
        <div class="panel-body">
            <p>@Model.Desc</p>
            <strong>This Sonnet has been clicked <span class="badge">@Model.NumClicks</span> times: </strong>
            <ul>
                @foreach (var click in ViewBag.Clicks)
                {
                    <li>@click.Created</li>
                    <li>@click.UserName</li>
                }
            </ul>
            <hr />
        </div>
        <div class="panel-footer">
            @if (ViewBag.IsFavorite)
            {
                using (Html.BeginForm())
                {
                    Html.BeginForm("AddFavorite", "Bookmark", new { Id = Model.Id }, FormMethod.Post);
                }
            }
            else
            {
                using (Html.BeginForm())
                {
                    <span class="glyphicon glyphicon-plus"></span>
                    <input type="submit" value="Add to Favorites" class="btn btn-toolbar" />
                }
            }
        </div>

    </div>
</div>

<p>
    <a href="@Url.Action("Index", "User")" class="btn btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
</p>
